.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main-color;
    border-radius: 50px;
    border: none;
    color:#fff;
    cursor: pointer;
    transition: all 0.5s ease;
    font-size: 12px;
    font-weight: 400;
    line-height: 22.04px;
    text-align: center;
    text-transform: uppercase;
    &:hover {
        background-color: #dc5238;
    }
}