.consultation {
    padding: 62px 0 79px 0;
    background: url('../img/bg/fourth_bg.jpg') center center/cover no-repeat;
    &__wrapper {
        margin: 0 auto;
        width: 75%;
        // width: 896px;
        background-color: rgba($color: #fff, $alpha: .7)
    }
    &__header {
        width: 100%;
        // width: 896px;
        height: 68px;
        background-color: $bg-color;
    }
    &__title{
        padding-top: 20px;
        color: #ffffff;
        font-size: 19px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
    &__subtitle {
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }
    &__form {
        padding: 18px 42px 25px 42px;
        // background-color: rgba($color: #fff, $alpha: .7);
    }
    &__col {
        width: 32.9%;
        height: 45px;
        padding-left: 28px;
        border: 1px solid rgba(0, 0, 0, 0.21);
        border-radius: 20px;
        background-color: #ffffff;
        font-size: 13px;
        font-weight: 300;
        line-height: 24px;
        text-align: left;
    }
    &__textarea {
        resize: none;
        padding-left: 28px;
        margin-top: 8px;
        padding-top: 15px;
        border-radius: 10px;
        width: 100%;
        height: 80px;
        border: 1px solid rgba(0, 0, 0, 0.21);
        background-color: #ffffff;
        font-size: 13px;
        font-weight: 300;
        line-height: 24px;
        text-align: left;
    }
    &__submit {
        width: 180px;
        height: 45px;
        background-color: $main-color;
        margin: 10px auto 0 auto; 
        color: #ffffff;
        font-size: 12px;
        font-weight: 400;
        line-height: 22.04px;
        text-align: center;
        text-transform: uppercase;
    }
}