.promo {
    padding: 51px 0 57px 0;
    &__title {
        margin-top: 28px;
        color: $main-color;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    &__descr {
        color: #3a3a3a;
        font-size: 14px;
        margin-top: 8px;
        font-weight: 300;
        line-height: 22px;
        text-align: center;
    }
    &__img { 
        margin-top: 37px;
        img {
        width: 100%;
        }
    }
}